**/.venv
**/__pycache__
**/.pytest_cache
**/.git
**/.DS_Store
**/*.pyc
**/*.pyo
**/*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
.env
*.sqlite3
data/
logs/
node_modules/
.Dockerfile
docker-compose.override.yml
README.md